@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@200&family=Roboto:wght@100&family=Source+Code+Pro:wght@300&display=swap");

:root {
  --gradient: linear-gradient(
    -45deg,
    rgba(100, 000, 000, 1),
    rgba(100, 200, 100, 1),
    rgba(000, 000, 100, 1),
    rgba(100, 000, 000, 1)
  );

  --ff-title: "Raleway", sans-serif;
  --ff-general: "Roboto", sans-serif;
  --ff-typewriter: "Source Code Pro", monospace;
  --ff-searchbar: "Open Sans", sans-serif;

  --fs-title: 4.6rem;
  --fs-general: 2rem;
  --fs-searchbar: 1.5rem;
  --fs-typewriter: 4rem;
  --fs-buttons: 1.8rem;
  --fs-productbutton: 1rem;
  --fs-producttitle: 2.5rem;
  --fs-productdescription: 1.5rem;
}

@media only screen and (max-width: 810px) {
  :root {
    --fs-title: 3rem;
    --fs-general: 1rem;
    --fs-searchbar: 1.3rem;
    --fs-typewriter: 2.5rem;
    --fs-buttons: 1.2rem;
    --fs-productbutton: 0.8rem;
    --fs-producttitle: 1.5rem;
    --fs-productdescription: 1.2rem;
  }

  body .elements {
    padding: 0%;
  }

  body .categories button {
    margin: 2% 3%;
    background-color: #2d2c31;
    border-radius: 20px 20px 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-overflow-scrolling: touch;
  }

  body .categories button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  body .product .price {
    margin-top: 5%;
  }

  body .product button {
    border-radius: 20px 20px 20px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: aliceblue;
    background: var(--gradient);
    background-size: 200%;
    background-attachment: fixed;
    animation: bg-animation 120s infinite alternate;
  }

  body .categories img {
    width: 15px;
  }

  body .product img {
    width: 100%;
  }

  body .right-elements li {
    display: none;
  }
  body .left-elements img {
    width: 4rem;
  }

  body .upper-shopping {
    margin: 5% 0%;
  }

  body .product .frame {
    width: 130px;
    height: 130px;
  }

  body .product .description {
    width: 130px;
  }
  body .product p {
    width: 130px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #222125;
}

header {
  width: 100%;
  padding: 1%;
  background-image: var(--gradient);
  background-size: 600%;
  animation: bg-animation 120s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  20% {
    background-position: right;
  }

  40% {
    background-position: left;
  }

  60% {
    background-position: right;
  }

  80% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.elements {
  padding: 0% 8%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.left-elements,
.right-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-elements img {
  width: 8rem;
}

.left-elements p {
  font-family: var(--ff-title);
  font-size: var(--fs-title);
  font-weight: 900;
  color: #f0f8ff;
  white-space: nowrap;
}

.right-elements li {
  display: inline-block;
  font-family: var(--ff-general);
  font-size: var(--fs-general);
  font-weight: 500;
  color: aliceblue;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  cursor: pointer;
}

.right-elements img {
  width: 35px;
  transition: 0.4s;
}

.right-elements button {
  border: none;
  background: none;
  margin-left: 2rem;
  cursor: pointer;
}

.typewriter-animation {
  font-family: var(--ff-general);
  display: grid;
  text-align: center;
  place-content: center;
  padding: 1% 0%;
}

.typewriter-animation p {
  font-size: var(--fs-general);
  position: relative;
  color: grey;
}

.typewriter-animation p::before,
.typewriter-animation p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.typewriter-animation p::before {
  background: #222125;
  animation: typewriter 3s;
  animation-direction: normal reverse;
  animation-delay: 3s;
}

@keyframes typewriter {
  0% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  50% {
    bottom: 100%;
  }

  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.upper-shopping {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.upper-shopping .search-bar {
  text-align: center;
  border: none;
  font-family: var(--ff-title);
  display: flex;
  background-color: #222125;
  color: aliceblue;
  text-align: left;
  border-bottom: solid aliceblue 5px;
  padding: 0.7em;
  font-size: var(--fs-searchbar);
}

.upper-shopping .search-bar:focus {
  outline: none;
}

.upper-shopping .search-button {
  align-items: center;
  background: none;
  border: none;
  border-bottom: solid #f0f8ff 5px;
  border-radius: 0px 10px 10px 0px;
  padding: 0.8em;
  background-image: var(--gradient);
  background-attachment: fixed;
  background-size: 800%;
  animation: bg-animation 120s infinite alternate;
  cursor: pointer;
}

.upper-shopping .search-img {
  width: 15px;
}

.categories {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  padding: 0% 8%;
}

.categories img {
  width: 20px;
  margin-right: 5px;
  vertical-align: top;
}

.categories button {
  text-align: center;
  align-items: center;
  border: none;
  flex: 1;
  font-family: var(--ff-typewriter);
  font-size: var(--fs-buttons);
  padding: 1rem;
  background: none;
  color: aliceblue;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.categories button:hover {
  box-shadow: inset 0 -2px 0 0 aliceblue;
}

.shopping {
  background: none;
  margin: 0 auto;
  padding: 2% 0%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #2d2c31;
}

.catalogue {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 0 auto;
}

.product p {
  font-family: var(--ff-general);
  font-size: var(--fs-producttitle);
  color: aliceblue;
  padding: 3% 0%;
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product span {
  font-family: var(--ff-general);
  font-size: var(--fs-productdescription);
  color: rgb(122, 126, 131);
  padding-bottom: 2%;
}

.product .description {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product .price {
  overflow: visible;
  font-weight: 900;
  font-family: var(--ff-searchbar);
  color: #f0f8ff;
}

.product .frame {
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-color: #222125;
}

.product img {
  width: 250px;
  height: 100%;
  transition: 0.4s;
  object-fit: cover;
  transform: scale(0.8);
}

.product img:hover {
  transform: scale(1);
  cursor: pointer;
}

.product button {
  flex: 1;
  font-family: var(--ff-searchbar);
  font-size: var(--fs-productbutton);
  font-weight: 900;
  background-color: #222125;
  color: aliceblue;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  border: none;
  margin: 2% 0%;
  padding: 4%;
}

.product button:hover {
  background-color: #4b4a52;
}
